<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/assets/images/favicon.png">
    <title>HashSyTravel</title>
    <!-- Custom CSS -->
    <link href="/dashboard/dist/css/style.min.css" rel="stylesheet">
    <script src="/web3/web3.min.js"></script>
    <script  src="/blockchain/web3config.js"></script>

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
   
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">User Document Page</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-right upgrade-btn">
                            <a href="/" class="btn btn-danger text-white" target="_blank">Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30"> <img src="/images/dtlogo.png" class="rounded-circle" width="150" />
                                    <h4 class="card-title m-t-10" id="name">{{user.fname}} {{user.lname}}</h4>
                                    <h6 class="card-subtitle" id="username" >{{user.username}}</h6>
                                    <div class="row text-center justify-content-md-center">
                                     Verified:<div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium" id="verified">Verified</font></a></div>
                                      QR:  <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium" id="active">Active</font></a></div>
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr> </div>
                            <div class="card-body"> <small class="text-muted">Email address </small>
                                <h6>{{user.email}}</h6> <small class="text-muted p-t-30 db">Adharr</small>
                                <h6>{{user.addhar}}</h6>
                                <small class="text-muted p-t-30 db">DOB</small>
                                <h6>{{user.dob}}</h6>
                                <!-- <div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div> <small class="text-muted p-t-30 db">Social Profile</small>
                                <br/>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button> -->
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material">
                                   <h1>License Details</h1> 
                                    <div class="form-group">
                                        <label class="col-md-12">License No</label>
                                        <div class="col-md-12">
                                            <span id="dlid">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">License Validity</label>
                                        <div class="col-md-12">
                                            <span id="dlvalidity">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Document Ipfs</label>
                                        <div class="col-md-12">
                                            <span id="dlipfs">null</span>
                                        </div>
                                    </div>



                                    <h1>Vechile Details</h1> 
                                    <div class="form-group">
                                        <label class="col-md-12">RC No</label>
                                        <div class="col-md-12">
                                            <span id="rcid">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">RC Validity</label>
                                        <div class="col-md-12">
                                            <span id="rcvalidity">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Document Ipfs</label>
                                        <div class="col-md-12">
                                            <span id="rcipfs">null</span>
                                        </div>
                                    </div>





                                    <h1>Polution Details</h1> 
                                    <div class="form-group">
                                        <label class="col-md-12">Polution Certificate No</label>
                                        <div class="col-md-12">
                                            <span id="poid">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Polution Certificate Validity</label>
                                        <div class="col-md-12">
                                            <span id="povalidity">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Document Ipfs</label>
                                        <div class="col-md-12">
                                            <span id="poipfs">null</span>
                                        </div>
                                    </div>





                                    <h1>Insurance Details</h1> 
                                    <div class="form-group">
                                        <label class="col-md-12">Insurance No</label>
                                        <div class="col-md-12">
                                            <span id="isid">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Insurance Validity</label>
                                        <div class="col-md-12">
                                            <span id="isvalidity">null</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Document Ipfs</label>
                                        <div class="col-md-12">
                                            <span id="isipfs">null</span>
                                        </div>
                                    </div>
                                  
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                Fetched From Ethereum Blockchain <a href="">HashSyTravel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/dashboard/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/dashboard/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/dashboard/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dashboard/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/dashboard/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/dashboard/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dashboard/dist/js/custom.js"></script>
    <script defer>
 
    setTimeout(()=>{
        App.contract.methods.verified({{bid}}).call().then((status)=>{
            console.log(status);
            document.getElementById("verified").innerText=status;
            if(status)
            document.getElementById("active").innerText="Active";
            else
            document.getElementById("active").innerText="Not Active";
        }).catch((err)=>{
            alert(err);
        });
            

        App.contract.methods.get_rc_details({{bid}}).call().then((rc)=>{
            console.log(rc)
            document.getElementById("rcipfs").innerText=rc[0];
            document.getElementById("rcid").innerText=rc[1];
            document.getElementById("rcvalidity").innerText=new Date(parseInt(rc[2])*1000);

        }).catch((err)=>{
            alert(err);
        });

        App.contract.methods.get_driving_details({{bid}}).call().then((dl)=>{
            document.getElementById("dlipfs").innerText=dl[0];
            document.getElementById("dlid").innerText=dl[1];
            document.getElementById("dlvalidity").innerText=new Date(parseInt(dl[2])*1000);
        }).catch((err)=>{
            alert(err);
        });

        App.contract.methods.get_pollution_details({{bid}}).call().then((po)=>{
            document.getElementById("poipfs").innerText=po[0];
            document.getElementById("poid").innerText=po[1];
            console.log(po[2]);
            document.getElementById("povalidity").innerText=new Date(parseInt(po[2])*1000);
        }).catch((err)=>{
            alert(err);
        });

        App.contract.methods.get_insurance_details({{bid}}).call().then((is)=>{
            document.getElementById("isipfs").innerText=is[0];
            document.getElementById("isid").innerText=is[1];
            document.getElementById("isvalidity").innerText=new Date(parseInt(is[2])*1000);
        }).catch((err)=>{
            alert(err);
        });
    },2000);
       
      

    </script>
</body>

</html>